*{
    padding:0 ;
    margin: 0;
    box-sizing: border-box;
    
}

body{
    background-color: hsl(212, 45%, 89%);
    font-family: "Outfit", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    padding: 15px;
    width: 320px;
    height: 500px;
    text-align: center;
    gap: 24px;
    border-radius: 18px;
    box-shadow: 3px 3px 23px -10px black;
}

img{
    height: 288px;
    width: 288px;
    border-radius: 10px;
}


h1{
    font-size: 22px;
    color: hsl(218, 44%, 22%);
}


p{
    font-size: 16px;
    font-weight: 300;
    color: hsl(216, 15%, 48%);
}
